.App {
  text-align: center;
  background-color: #222;
}

.App-header {
  height: 150px;
  padding: 50px;
  color: white;
  text-align: center;
  font-weight: lighter;
  font-family: sans-serif;
}

h1 {
  font-size: 3.0rem;
}

.singleGiff {
  height:200px;
  width:300px;
  margin: 5px;
}

.singleGiff:hover {
  cursor: pointer;
  opacity: 0.7;
}

.content {
  margin-top: 100px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  display: grid;
}

.btn-light {
  border-radius: 0;
  margin-right: 100px;
}

.btn-light:hover {
  opacity: 0.8;
}

.search-input {
  line-height: 1.5;
  border-radius: .25rem;
}

.input-group-text {
  margin-left: 100px;
}


.giffInfo {
  color: white;
  text-align: left;
  margin-left: 40px;
}
